.title {
    text-align: center;
}

#sep10 {
    padding-bottom:50px;
    text-align:center;
}

#context {
    text-align:center;
    text-decoration: underline;
}

#context4 {
    text-align:center;
    text-decoration:none;

}

#A {
text-decoration:underline;
}

#B {
text-decoration:underline;
}
